{% extends "templates/web.html" %}

{% block page_content %}


<link rel="stylesheet" href="/assets/apartment_app/css/resident_overview.css">

<div class="overview-container">

    <div class="page-title">Resident Overview</div>
    <div class="page-subtitle"></div>

    <div class="metric-row">

        <div class="metric-card">
            <div class="metric-info">
                <h6>Total Residents</h6>
                <h3 id="count1">...</h3>
            </div>

            <div class="metric-icon icon-blue">
                <i class="fa fa-users"></i>
            </div>
        </div>

        <div class="metric-card">
            <div class="metric-info">
                <h6>Total Technicians</h6>
                <h3 id="count2">...</h3>
            </div>

            <div class="metric-icon icon-green">
                <i class="fa fa-wrench"></i>
            </div>
        </div>

        <div class="metric-card">
            <div class="metric-info">
                <h6>Total Faculties</h6>
                <h3 id="count3">...</h3>
            </div>

            <div class="metric-icon icon-orange">
                <i class="fa fa-graduation-cap"></i>
            </div>
        </div>

        <div class="metric-card">
            <div class="metric-info">
                <h6>Service Providing</h6>
                <h3 id="total_count">0</h3>
            </div>

            <div class="metric-icon icon-red">
                <i class="fa fa-cogs"></i>
            </div>
        </div>

    </div>

    <div class="content-row">

        <div class="card">

            <div class="card-header">
                <h5>Service Categories</h5>
            </div>

            <div class="card-body">
                <ul id="category_list" class="category-list"></ul>
            </div>

        </div>

        <div class="card">

            <div class="card-header">
                <h5>Apartment Announcements</h5>
            </div>

            <div class="card-body" id="announce2"></div>

        </div>

    </div>

</div>
<script src="/assets/apartment_app/js/resident_overview.js"></script>

{% endblock %}